<div >
  <h1>Sign in</h1>

  <%= form_with url: sign_in_path do |form| %>

    <div >
      <div >
            <span  id="inputGroup-sizing-sm">
             <%= form.label :email %>
            </span>
      </div>
      <div >
        <%= form.text_field :email, class: "form-control ",placeholder:"email" %>
      </div>
    </div>

    <div >
      <div >
            <span  id="inputGroup-sizing-sm">
             <%= form.label :password %>
            </span>
      </div>
      <div >
        <%= form.password_field :password, class: "form-control ",placeholder:"password " %>
      </div>
    </div>

      <%= form.submit 'Sign in',class: "btn btn-primary col-3 offset-4 " %>

    </div>


  <% end %>
</div>