<div>
  <h1>New Account</h1>

  <%= form_with model: @user ,url: sign_up_path do |form| %>

    <div>
      <%= render "partials/form_errors", form:form %>
    </div>
    <div>
      <div>
            <span>
             <%= form.label :email %>
            </span>
      </div>
      <div>
        <%= form.text_field :email, class: "form-control ",placeholder:"email" %>
      </div>
    </div>

    <div>
      <div>
            <span>
             <%= form.label :password %>
            </span>
      </div>
      <div>
        <%= form.password_field :password, class: "form-control ",placeholder:"password " %>
      </div>
    </div>

    <div>
      <div>
            <span>
             <%= form.label :password_confirmation %>
            </span>
      </div>
      <div>
        <%= form.password_field :password_confirmation, class: "form-control " ,placeholder:"password confirmation"%>
      </div>
    </div>
    <div>
      <%= form.submit class: "btn btn-primary col-3 offset-4 " %>

    </div>


  <% end %>
</div>